<% if current_user.errors.any? %>
  <div class="ui warning message"><i class="warning icon"></i>
    <% current_user.errors.messages.each do |msg| %>
      <%= msg[1][0] %>
      <br>
    <% end %>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="ui warning message"><i class="warning icon"></i><%= flash[:notice] %></div>
<% end %>
<h2>Upgrade to a Professional Service</h2>
<div class="field">
      <div id="picture" class="ui medium centered image"><img src=<%="#{current_user.image}"%>></div>
    </div>

    
<%= form_tag(controller: "professionals", action: "new", method: "post") do %>
    
<div class="ui form">  
  <div class="field"><label>Name</label>
  <% if current_user.first_name != nil && current_user.first_name != "" && current_user.last_name != nil && current_user.last_name != ""%>
  <%= text_field(:professional, :name, :value => current_user.first_name + " " + current_user.last_name) %>
  <%else%>
  <%= text_field(:professional, :name, :placeholder => 'Enter the name of the business here') %>
  <%end %>
  

  <div class="field"><label>Description</label>
  <% if current_user.description != nil && current_user.description != ""%>
    <%= text_field(:professional,:description, :value => current_user.description) %>
  <% else %>
    <%= text_field(:professional,:description, :placeholder => 'Tell City Dog Share more about yourself.') %>
  <%end%>
  </div>
  
  <div class="field"><label>Motto</label>
  <%= text_field(:professional,:motto, :placeholder => 'What\'s your motto?') %>
  </div>
  
  <div class="field"><label>Notes</label>
  <%= text_field(:professional, :description, :placeholder => 'Anything you\'d like to say about your service?') %>
  </div>

<% end %>

<div class="field"><label>Submit</label>
  <button class="ui button" type="submit">Submit</button>
  <!--<div class="ui primary button transparent input"><input id='update_dog_button' type="submit" value="Save Changes" name="update_dog_button" class='btn info' style="text-align:center" /></div>-->
  <!--<%= button_to "Cancel", root_path(:notice => ""), :id => "cancel_dog_button", :class => "ui button transparent input", :method => :get %>-->
  </div>
