<h1>New Dog</h1>

<%= form_tag({controller: :dogs, action: @action}, method: @method, :multipart => true) do %>
<div class="ui form">  

    
  <label>Dog Name</label>
  <input id="Dog Name" type="text_field" <%= text_field(:dog, :name) %></input>
  
  
  </br>
  <label> Motto </label>
  <input id="Motto" type="text_field" <%= text_field(:dog, :motto) %></input>
 
  
  
  <div class="field"><label>Birthdate</label>
  <%= date_select :dog, :dob, {:start_year => Date.today.year - 30, :end_year => Date.today.year, :default => DateTime.new(Date.today.year, 1, 1)} %>
  </div>
  
  <div class="field"><label>Gender</label>
    <%= select :dog, :gender, ["Male", "Female"] %>
  </div>
  
  <div class="field"><label>Size</label>
  <% size_options = options_from_collection_for_select(Size.all, 'id', 'value', @size.collect {|s| s.value}) %>
  <%= select :dog, :size_id, size_options %> 
  </div>


  <div class="field"><label>Personality</label>
  <%= select_tag :personalities, options_for_select(@personality_list.collect{|s| s.value}),
  :multiple => true, :size => 8 %>
  </div>

  
 
  <div class="field"><label>Mix</label>
  <%= select_tag :mixes, options_for_select(@all_mixes.collect{|s| s.value}),
  :multiple => true, :size => 11 %>
  </div>
  
  <div class="field"><label>Likes</label>
  <%= select_tag :likes, options_for_select(@like_list.collect{|s| s.value}),
  :multiple => true, :size => 6 %>
  </div>

    
  <div class="field"><label>Energy Level</label>
  <% energy_options = options_from_collection_for_select(EnergyLevel.all, 'id', 'value', @energy.collect {|s| s.value}) %>
  <%= select :dog, :energy_level_id, energy_options %> 
  </div>
  
  <div class="field"><label>Is Your Dog Spayed/Neutered?</label>
  <%= label :fixed, "Yes", :value => "true"  %>
  <%= radio_button :dog, :fixed, true, :checked => true %>
  <%= label :fixed, "No", :value => "false" %>
  <%= radio_button :dog, :fixed, false  %>
  </div>

  <label>You can add picture of your dog</label>
  <input type="file" name="dog[image]" id="dog_image">
  </br>
  
  <label>You can add youtube video of your dog</label>  
  <div class="field"> 
     <%= text_field(:dog, :youtube_id) %>
  </div>
  
  <label>Description</label>
  <input id="Description" type="text_field" <%= text_field(:dog, :description) %></input>
  
  </br>
  <label> Health Notes</label>
  <input id="Health Notes" type="text_field" <%= text_field(:dog, :health, :placeholder => "Is there anything sitters should know about your dog's health (allergies, recent surgeries, etc.)?") %></input>
 
  </br>
  <label>General Availability</label>
  <input id="General Availability" type="text_field" <%= text_field(:dog, :availability, :placeholder => "Tell us when you would like a sitter") %></input>
  

 <!--IMAGE UPLOADING -->
<% end %>
  
  <!--<button class="ui button" type="submit">Submit</button>-->
<div class="field"><label>Submit</label>
  <button class="ui button" type="submit">Submit</button>
  <!--<div class="ui primary button transparent input"><input id='update_dog_button' type="submit" value="Save Changes" name="update_dog_button" class='btn info' style="text-align:center" /></div>-->
  <!--<%= button_to "Cancel", root_path(:notice => ""), :id => "cancel_dog_button", :class => "ui button transparent input", :method => :get %>-->
  </div>
</div>

                
