<%= form_tag({controller: :dogs, action: @action}, class: "ui small form add_dog", style: "margin-top:10px;margin-bottom:10px;", method: @method, :multipart => true) do %>
  <div class="field">
    <label  for="dog_name">Dog Name</label>
    <%= text_field(:dog, :name) %>
  </div>
  <div class="field">
    <label  for="dog_motto">Motto</label>
    <%= text_field(:dog, :motto) %>
  </div>
  <div class="field">
    <label>Birthdate</label>
    <%= date_select :dog, :dob, {:order => [:day, :month, :year], :start_year => Date.today.year - 30, :end_year => Date.today.year, :default => DateTime.new(Date.today.year, 1, 1)}, {:class => "ui dropdown selection datedog"}%>
  </div>
  <div class="field"><label>Gender</label>
    <%= select :dog, :gender, ["Male", "Female"], {}, {:class => "ui dropdown selection"}%>
  </div>
  <div class="field"><label>Size</label>
    <% size_options = options_from_collection_for_select(Size.all, 'id', 'value', @size.collect {|s| s.value}) %>
    <%= select :dog, :size_id, size_options,{}, {:class => "ui dropdown selection"} %> 
  </div>
  
  <div class="field"><label>Personality</label>
    <%= select_tag :personalities, options_for_select(@personality_list.collect{|s| s.value}),
    {:multiple => true, :size => 8 , :class=>"ui fluid search dropdown"} %>
  </div>
  
  <div class="field"><label>Mix</label>
  <%= select_tag :mixes, options_for_select(@all_mixes.collect{|s| s.value}),
  {:multiple => true, :size => 11, :class=>"ui fluid search dropdown"} %>
  </div>
  
  <div class="field"><label>Likes</label>
  <%= select_tag :likes, options_for_select(@like_list.collect{|s| s.value}),
  {:multiple => true, :size => 6, :class=>"ui fluid search dropdown"} %>
  </div>
  
  <div class="field"><label>Energy Level</label>
  <% energy_options = options_from_collection_for_select(EnergyLevel.all, 'id', 'value', @energy.collect {|s| s.value}) %>
  <%= select :dog, :energy_level_id, energy_options,{}, {:class => "ui dropdown selection"} %> 
  </div>

  <div class="inline fields">
    <label>Is Your Dog Spayed/Neutered?</label>
    <div class="field">
      <%= label :fixed, "Yes", :value => "true"  %>
      <%= radio_button :dog, :fixed, true, {class: "ui radio checkbox"}%>
    </div>
    <div class="field">
      <%= label :fixed, "No", :value => "false" %>
      <%= radio_button :dog, :fixed, false, {class: "ui radio checkbox"}%>
    </div>
  </div>
  
  <div class="field">
    <label>Upload a Picture of your Dog</label>
    <input type="file" name="dog[image]" id="dog_image">
  </div>
  
  <div class="field">
    <label>Youtube Video</label>
    <%= text_field(:dog, :youtube_id) %>
  </div>
  
  <div class="field"><label for="dog_description">Description</label>
    <%= text_area(:dog, :description) %>
  </div>

  <div class="field"><label for="dog_health">Health Notes</label>
    <%= text_area(:dog, :health) %>
  </div>
  
  <div class="field"><label for="dog_availability">General Availability</label>
    <%=text_area(:dog, :availability) %>
  </div>
  
  <div class="field">
    <%= submit_tag "Submit", data: { disable_with: "Please wait..." }, :id => 'modal-submit', :class => "ui button dark-green", :style => "color: white" %>
    <a class="ui button red" href=<%=user_path(@current_user)%>>Cancel</a>

  </div>
  
<% end %>




    





  <!--<button class="ui button" type="submit">Submit</button>-->
<!--<div class="field"><label>Submit</label>-->
<!--   <%= submit_tag "Submit", data: { disable_with: "Please wait..." }, :id => 'modal-submit', :class => "btn btn-primary" %>-->
  <!--<button class="ui button" type="submit">Submit</button>-->
  <!--<div class="ui primary button transparent input"><input id='update_dog_button' type="submit" value="Save Changes" name="update_dog_button" class='btn info' style="text-align:center" /></div>-->
  <!--<%= button_to "Cancel", root_path(:notice => ""), :id => "cancel_dog_button", :class => "ui button transparent input", :method => :get %>-->
<!--  <%= button_to "Cancel", root_path(:notice => ""), :id => "cancel_dog_button", :class => "ui button", :method => :get %>-->
<!--  </div>-->
<!--</div>-->

                





