<%= form_tag({controller: :dogs, action: @action}, method: @method, :multipart => true, :class => "ui form") do %>

  <div class="field">
    <label>Dog Name</label>
    <%= text_field(:dog, :name, :placeholder => "Dog Name") %>
  </div>
  
  <div class="field">
    <label>Motto</label>
    <%= text_field(:dog, :motto, :placeholder => "Motto") %>
  </div>
  
  <div class="field">
    <label>Birthdate</label>
    <%= date_select :dog, :dob, {:start_year => Date.today.year - 30, :end_year => Date.today.year, :default => DateTime.new(Date.today.year, 1, 1)} %>
  </div>

  <div class="field">
    <label>Gender</label>
    <%= select(:dog, :gender, ["Male", "Female"], {}, {:class => "ui dropdown"}) %>
  </div>
  
  <div class="field">
    <label>Size</label>
    <% size_options = options_from_collection_for_select(Size.all, 'id', 'value') %>
    <%= select(:dog, :size_id, size_options, {}, {:class => "ui dropdown"}) %>
  </div>  
  
  <div class="field">
    <label>Mix</label>
    <% mix_options = options_from_collection_for_select(Mix.all, 'id', 'value') %>
    <%= select(:dog, :mixes, mix_options, {}, {:class => "ui selection dropdown", :id => "multi-select"}) %>
  </div>  

  <div class="field">
    <label>Likes</label>
    <% like_options = options_from_collection_for_select(Like.all, 'id', 'value') %>
    <%= select(:dog, :likes, like_options, {}, {:class => "ui selection dropdown", :id => "multi-select"}) %>
  </div>

  <div class="field">
    <label>Energy Level</label>
    <% energy_options = options_from_collection_for_select(EnergyLevel.all, 'id', 'value') %>
    <%= select(:dog, :energy, energy_options, {}, {:class => "ui dropdown"}) %>
  </div>

  <div class="field">
    <label>Is Your Dog Spayed/Neutered?</label>
    <%= select(:dog, :fixed, [["Yes", true], ["No", false]], {}, {:class => "ui dropdown"}) %>
  </div>
  
  <div class="field">
    <label>Dog Avatar</label>
    <input type="file" name="dog[image]" id="dog_image">
  </div>

  <div class="field">
    <label>Description</label>
    <%= text_area(:dog, :description, :rows => "1") %>
  </div>
  
  <div class="field">
    <label>Health Notes</label>
    <%= text_area(:dog, :health, :rows => "1", :placeholder => "Is there anything sitters should know about your dog's health (allergies, recent surgeries, etc.)?") %>
  </div>
  
  <div class="field">
    <label>General Availability</label>
    <%= text_area(:dog, :health, :rows => "1", :placeholder => "Tell us when you would like a sitter...") %>
  </div>
  
  <button class="ui button" type="submit">Submit</button>
<% end %>