
  <%= link_to 'Home', root_path %>
  <%= form_for @dog do |f| %>
  <p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  </p>

  <%= f.submit %>
  </p>
  <% end %>
