<!--<h1>Editing Dog</h1>-->

<!--<%= render 'form' %>-->

<!--<%= link_to 'Show', @dog %> |-->
<!--<%= link_to 'Back', dogs_path %>-->

<!--<h1> Edit Dog</h1>-->

<!--<%= form_tag user_dog_path(@dog, @user) do%>-->

<!--<%= submit_tag 'Save Changes'%>-->
  

