<h1>Editing Dog</h1>

<%= render 'form' %>

<%= link_to 'Show', @dog %> |
<%= link_to 'Back', dogs_path %>

<h1> Create New Dog</h1>

<%= form_tag dogs_path do%>

<% = label :dog, :name, 'Name'%>
  <%= text_field :dog, 'name'%>

<!--<%= label :dog, :mix, 'Mix'%>-->
<!--  <%= select :movie, :rating, ['G','PG','PG-13','R','NC-17']%>-->

  <!--<%= label :movie, :release_date, 'Released On'%>-->
  <!--<%= date_select :movie, :release_date%>-->
  
  <!--<%= label :movie, :director, 'Director'%>-->
  <!--<%= text_field :movie, 'director'%>-->

  <!--<%= submit_tag 'Save Changes'%>-->
  
<%= link_to 'Back to profile', dogs_path%>
