
<h1> Edit information about <%= @dog.name %> </h1>
  
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<% javascript_include_tag 'tags.js' %>

<%= form_tag({controller: :dogs, action: @action}, method: @method, :multipart => true) do %>
<div class="ui form">  

  <div class="field"><label for="dog_name">Dog Name</label>
    <%= text_field(:dog, :name, :value => @dog.name) %>
  </div>
 
  <div class="field"><label for="dog_motto">Motto</label>
    <%= text_field(:dog, :motto, :value => @dog.motto) %>
  </div>
  
  <div class="image" style="padding:3em;">
    <%= image_tag @dog.image.url(:medium) %>
  </div>
 
  <div class="field"> <label>Upload another image:</label>
     <%= file_field(:dog, :image) %>
  </div>

  <div class="embed-container">
    <%= embed(@dog.youtube_id) %> 
  </div> 
  
  <div class="field"> <label>Upload another video:</label>
     <%= text_field(:dog, :youtube_id) %>
  </div>

  <div class="field"><label>Birthdate</label>
    <%= @dog.dob %>
    <%= date_select :dog, :dob, { :default => @dog.dob } %>
  </div>

  <div class="field"><label>Gender</label>
    <%= select :dog, :gender, ["Male", "Female"], :selected => @dog.gender %>
  </div>
  
  <div class="field"><label>Size</label>
  <% size_options = options_from_collection_for_select(Size.all, 'id', 'value', @size.collect {|s| s.value}) %>
  <%= select :dog, :size_id, size_options, :selected => @dog.size.value %> 
  </div>
 

  <div class="field"><label>Personality</label>
  <%= @dog.personality_caption %> <br>
  <%= select_tag :personalities, options_for_select(@personality_list.collect{|s| s.value}, @dog.readable_personalities),
  :multiple => true, :size => 8 %>
  </div>

  <div class="field"><label for="mixes">Mix</label>
    Mix:          <td><%= @dog.mix_caption %></td> <br>
    <%= select_tag :mixes, options_for_select(@all_mixes.collect{|s| s.value}, @dog.readable_mixes),
  :multiple => true, :size => 11 %>
  </div>
  
  <div class="field"><label for="likes">Likes</label>
    <%= select_tag :likes, options_for_select(@like_list.collect{|s| s.value}, @dog.readable_likes),
  :multiple => true, :size => 6, :selected => @dog.readable_likes %>
  </div>

  <div class="field"><label for="dog_energy_level_id">Energy Level</label>
  <% energy_options = options_from_collection_for_select(EnergyLevel.all, 'id', 'value', @energy.collect {|s| s.value}) %>
  <%= select :dog, :energy_level_id, energy_options %> 
  </div>
  
  <div class="field"><label for="dog_description">Description</label>
    <%= text_area(:dog, :description, rows: 2, :value => @dog.description) %>
  </div>

  <div class="field"><label for="dog_health">Health Notes</label>
    <%= text_area(:dog, :health, rows: 2, :value => @dog.health ) %>
  </div>

  <div class="field"><label>Is Your Dog Spayed/Neutered?</label>
    <%= label :fixed, "Yes", :value => "true"  %>
    <%= radio_button :dog, :fixed, true, :checked => @dog.fixed ? true : false%>
    <%= label :fixed, "No", :value => "false" %>
    <%= radio_button :dog, :fixed, false, :checked => true if not @dog.fixed%>
  </div>

  <div class="field"><label for="dog_availability" >General Availability</label>
    <%=text_area(:dog, :availability, :value => @dog.availability) %>
  </div>


 <!--IMAGE UPLOADING -->

<% end %>

<div class="field"><label>
  <button class="ui button green" type="submit">Submit</button>
  <!--<div class="ui primary button transparent input"><input id='update_dog_button' type="submit" value="Save Changes" name="update_dog_button" class='btn info' style="text-align:center" /></div>-->
  <%= button_to "Cancel", root_path(:notice => ""), :id => "cancel_dog_button", :class => "ui button", :method => :get %>
  </div>
</div>





