<p id="notice"><%= notice %></p>

<%= image_tag("browse-dogs-header.png", :alt => "subtext", id: "browse-dogs-header") %>

<div class="ui fluid card" style="width:75%;margin-left:auto;margin-right:auto;padding:20px">
<h3>Filter Dogs</h3>
<%= form_tag({controller: :dogs, action: :index}, class: "ui small form filter_form", method: :get, :multipart => true) do %>
<div class="fields">
  <div class="five wide field">
    <label>Gender</label>
    <%= select_tag :gender, options_for_select(["Male", "Female"], params[:gender]),
    {:multiple => false, :size => 2, :class => "ui dropdown selection"}%> 
  </div>
  <div class="five wide field">
    <label>Size</label>
    <%= select_tag :size, options_for_select(@size.collect{|s| s.value}, params[:size]),
    {:multiple => false, :size => 4, :class => "ui dropdown selection"}%> 
  </div>
  <div class="six wide field">
    <label>Mix</label>
    <%= select_tag :mix, options_for_select(@all_mixes.collect{|s| s.value}, params[:mix]),
    {:multiple => true, :size => 11, :class => "ui fluid search dropdown"}%> 
  </div>
</div>

<div class="fields">
  <div class="seven wide field">
    <label>Age</label>
    <%= select_tag :age, options_for_select(@age_ranges, params[:age]),
    {:multiple => true, :size => 4, :class => "ui fluid search dropdown"}%> 
  </div>
  <div class="seven wide field">
    <label>Energy Level</label>
    <%= select_tag :energy_level, options_for_select(@energy.collect{|s| s.value}, params[:energy_level]),
    {:multiple => true, :size => 4, :class => "ui fluid search dropdown"}%> 
  </div>
  <div class="two wide field">
    <label>Has Event?</label>
    <div class="ui toggle checkbox">
      <%= check_box_tag :has_event, 1, (params[:has_event] == "1") %>
    </div>
  </div>
</div>
<div class="field" style="text-align:right">
  <%= submit_tag "Filter", :id => 'filter_button', :class => "ui button dark-green", :style => "color: white" %>
  <a class="ui button" href="/dogs">Clear</a>
</div>
<% end %>
</div>

<div class="ui one column grid">
  <div class="eleven wide column">
    <div class="ui segment">
      <%= render :partial => "users/dog", :collection => @dogs %>
    </div>
  </div>
</div>