<p id="notice"><%= notice %></p>

<%= image_tag("browse-dogs-header.png", :alt => "subtext", id: "browse-dogs-header") %>


<%= form_tag({controller: :dogs, action: :index}, method: :get, :multipart => true) do %>

  <div class="field"><label>Gender</label>
    <%= select_tag :gender, options_for_select(["Male", "Female"], params[:gender]),
    :multiple => false, :size => 2 %>
  </div>
  
  <div class="field"><label>Size</label>
    <%= select_tag :size, options_for_select(@size.collect{|s| s.value}, params[:size]),
    :multiple => true, :size => 4 %>
  </div>
  
  <div class="field"><label>Mix</label>
    <%= select_tag :mix, options_for_select(@all_mixes.collect{|s| s.value}, params[:mix]),
    :multiple => true, :size => 11 %>
  </div>
  
  <div class="field"><label>Age</label>
    <%= select_tag :age, options_for_select(@age_ranges, params[:age]),
    :multiple => true, :size => 4 %>
  </div>
  
  <div class="field"><label>Energy Level</label>
    <%= select_tag :energy_level, options_for_select(@energy.collect{|s| s.value}, params[:energy_level]),
    :multiple => true, :size => 4 %>
  </div>
  
  <div class="field"><label>Has Event?</label>
    <%= check_box_tag :has_event, 1, (params[:has_event] == "1") %>
  </div>

  <div class="field"><label for='update_dog_button'>Submit</label>
    <div class="ui primary button transparent input"><input id='filter_button' type="submit" value="Filter" name="filter_button" class='btn info' style="text-align:center" /></div>
  </div>
  
<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Mix</th>
      <th>Energy Level</th>
      <th>Personality</th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= link_to dog.name, dog_path(dog) %></td>
        <td><%= dog.gender %></td>
        <td><%= dog.age_caption %></td>
        <td><%= dog.mix_caption %></td>
        <td><%= dog.energy_level %></td>
        <td><%= dog.personality_caption %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
