<p id="notice"><%= notice %></p>

<%= link_to 'Back', dogs_path %>

<div class="ui one column grid">
  <div class="five wide column">
    <div class="ui fluid card">
      
      <div class="image" style="padding:3em;">
        <%= image_tag @dog.image %>
      </div>
      
      <div class="content">
        <p class="header"><%= @dog.name %></p>
        <div class="meta">
          Age:      <td><%= @dog.age_caption %></td>     
        </div>
        <div class="description">
          Motto:          <%=@dog.motto%>
        </div>
        <div class="description">
          Mix:          <td><%= @dog.mix_caption %></td>
        </div>
        <div class="description">
          Gender:           <td><%= @dog.gender %></td>
        </div>
        <div class="description">
          Size:           <td><%= @dog.size.value %></td>
        </div>
        <div class="description">
          Personality:   <td><%= @dog.personality_caption %></td>
        </div>
        <div class="description">
          Likes:   <td><%= @dog.readable_likes.join(", ") %></td>
        </div> 
        <div class="description">
          Energy level:   <td><%= @dog.energy_level %></td>
        </div>  
        <div class="description">
           <td><%= @dog.name %> is <%="not" if not @dog.fixed %> fixed </td>
        </div>  
      </div>    
      
      <div class="extra content">
        <a> <i class="heart icon"></i> Parent </a>
        <a> <i class="calendar icon"></i> 5 events </a>
        <a> <i class="star icon"></i> Premium User </a>
      </div>
    </div>
  </div>

  <div class="eleven wide column">
    <%= link_to "Edit Dog", edit_dog_path(@dog.id), :id => "edit_dog_button", :class => "ui primary button", :method => :get %>
    <%= link_to "Delete Dog", dog_path(@dog.id), :id => "delete_dog_button", :class => "ui primary button", :method => :delete %>    
    <div class="ui segment">
      <div id="dogs">
         <div class="description">
          Description: <td><%=@dog.description %></td> 
          </br>
          Health: <td><%=@dog.health %></td>
          </br>
          Availability: <td><%=@dog.availability %></td> 
          </br>
      </div>
      </div>
    </div>
  </div>
</div>


<div class="ui one column grid">
  
  <div class="five wide column">
    
  </div>
</div>




    
    
