<div class="ui one column grid">
  <%= render :partial => "dogs/dog", :dog => @dog %>
  <div class="eleven wide column">
    <div class="ui segment">
      <h2 style="margin-bottom:5px;font-weight:400">
        <span style="font-weight:200">About</span> <%= @dog.name %>
      </h2>
      <div class="ui divider"></div>
      <div class="description" style="margin-top:10px;font-weight:300">
        <%=@dog.description%>
      </div>
      <div class="parent description" style="margin-top:15px;font-weight:400;font-size:18px">
        <span style="font-weight:400">Parent:</span>
        <a href=<%=user_path(@parent.id)%> class="green-button">
          &nbsp;&nbsp;
          <%=image_tag @parent.image, :class => "ui avatar image"%>
          <%=@parent.first_name%>
        </a>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui pointing secondary menu">
          <a class="item active" data-tab="first">Events</a>
          <a class="item" data-tab="second">Video</a>
      </div>
      <div class="ui bottom tab active" data-tab="first">
        <% if @current_user.id == @dog.user_id %>
          <a class="ui button dark-green" href="<%=new_event_path()%>" style="margin-bottom:5px">
            <i class="plus icon"></i>
            Add Event
          </a>
        <% end %>
        <%= render :partial => "event", :collection => @dog.future_events %>
      </div>
      <div class="ui bottom tab" data-tab="second">
        <% if @dog.youtube_id %>
          <div class="ui embed" style="margin-left:50px;margin-right:50px" data-source="youtube" data-id=<%=@dog.youtube_id.split("=")[1]%>>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
