
<p id="notice"><%= notice %></p>
<div class="ui one column grid">
  <div class="five wide column">
    <div class="ui fluid card">
      <div class="image" style="padding:3em;">
        <%= image_tag @dog.image %>
      </div>
      <!--STARRING-->
        <% if not current_user.nil? %>
          <div class="stars"><label for="star_<%=@dog.id%>" ></label>
            <%- unless current_user.starred_dogs.exists?(id: @dog.id) -%>
             <%= link_to starred_dogs_path(dog_id: @dog), method: :post, :id => "star_#{@dog.id}" do%>
              <i class="empty icon yellow large" style="margin-right: -0.3em">
                    <%= @dog.stars.count %></i><i class="empty star icon yellow large"></i>
            <%end%>            <% else %>
             <%= link_to starred_dogs_path(dog_id: @dog), method: :delete, :id => "star_#{@dog.id}" do%>
              <i class="icon yellow large" style="margin-right: -0.3em">
                   <%= @dog.stars.count %></i><i class="blue star icon large"></i>
            <%end%>
            <% end %>
          </div>
        <%end%>
   <!--STARRING     -->

      <div class="content">
        <p class="header"><%= @dog.name %></p>
        <div class="meta">
          Age:  <%= @dog.age_caption %>    
        </div>
        <div class="description">
          Motto:          <%=@dog.motto%>
        </div>
        <div class="description">
          Mix: <%= @dog.mix_caption %>
        </div>
        <div class="description">
          Gender: <%= @dog.gender %>
        </div>
        <div class="description">
          Size: <%= @dog.size.value %>
        </div>
        <div class="description">
          Personality:<%= @dog.personality_caption %>
        </div>
        <div class="description">
          Likes:  <%= @dog.readable_likes.join(", ") %>
        </div> 
        <div class="description">
          Energy level: <%= @dog.energy_level %>
        </div>  
        <div class="description">
           <%= @dog.name %> is <%="not" if not @dog.fixed %> fixed 
        </div>  
      </div>    
      
      <div class="extra content">
        <i class="heart icon"></i><%= link_to "Parent", user_path(@parent.id) %>
        <a> <i class="calendar icon"></i> <%=@dog.events.count%> Events</a>
        <a> <i class="star icon"></i> Premium User </a>
      </div>
        <% if not @current_user.nil? and @current_user.id == @dog.user_id %>
        <%= link_to "Add event", new_event_path(), :id => "add_event_button", :class => "ui secondary button", :method => :get %> 
        <%= link_to "Edit Dog", edit_dog_path(@dog.id), :id => "edit_dog_button", :class => "ui  button", :method => :get %>
        <%= link_to "Delete Dog", dog_path(@dog.id), :id => "delete_dog_button", :data => { disable_with: "Please wait..." }, :class => "ui  button", :method => :delete %>    
        <% end %>
    </div>
  </div>

  <div class="eleven wide column">
 <!-- -->
    <div class="ui segment">
      <div id="dogs">
         <div class="description">
          Description: <%=@dog.description %> 
          <br>
          Health: <%=@dog.health %>
          <br>
          Availability: <%=@dog.availability %>
          <br>
          <div class="ui bottom">My parent is <%= link_to @parent.first_name, user_path(@parent.id) %> 
          <%=link_to (image_tag @parent.image, :class => "ui avatar image"), user_path(@parent.id)%></div>
      </div>
      </div>
    </div>
        <div class="embed-container">
        <%= embed(@dog.youtube_id) %>        
        </div>
    
        <%= render :partial => "events/events", :dog => @dog %>
       
     </div>
    </div>
    </div>
  <!-- END OF EVENTS LISTING -->
  </div>
  <div class="ui one column grid">
  <div class="five wide column">
  </div>
  </div>




    
    
