<div class="ui divider"></div>
<div id="dogs" class="ui grid dog_partial">
  <div class="seven wide column">
    <% if dog.image.file? %>
      <a href=<%=dog_path(dog.id)%>>
        <%= image_tag dog.image, {:class => "ui image", :style => "width:100%;height:auto"} %>
      </a>
    <% else %>
      <%= image_tag "default_dog.jpg", {:class => "ui image", :style => "width:100%;height:auto"} %>
    <% end %>
  </div>
  <div class="nine wide column">
    <h3 class="ui header" style="margin-bottom:5px">
      <a href="<%= dog_path(dog.id) %>" class="green-button"> <%= dog.name %></a>
      &nbsp;&nbsp;&nbsp;
      <% if @current_user and not @current_user.starred_dogs.exists?(id: dog.id) %>
          <%=link_to '/star_dog?'+{dog_id: dog.id}.to_param, {:id => "star_#{dog.id}"} do %>
              <i class="empty star icon no-margin"></i>
              <%=dog.stars.count%>
          <% end %>
      <% elsif @current_user %>
          <%=link_to '/unstar_dog?'+{dog_id: dog.id}.to_param, {:id => "star_#{dog.id}"} do %>
              <i class="star icon no-margin"></i>
              <%=dog.stars.count%>
          <%end%>
      <% else %>
        <%=link_to do %>
          <i class="star icon no-margin"></i>
          <%=dog.stars.count%>
        <%end%>
      <% end %>
      <% if @current_user and @current_user.id == dog.user_id %>
        <a class="right floated green-button" href=<%=edit_dog_path(dog.id)%> id="add_dog_button">
            <i class="edit icon large"></i>
        </a>
      <% end %>
      <div class="sub header" style="margin-top:5px">
        <span class="category"><i class="calendar icon"></i> <%= dog.events.count %> Events</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="category"><i class="heartbeat icon"></i><%= dog.age_caption %></span>
      </div>
    </h3>
    
    <div class="content">
      <div class="description gray-text" style="font-size:14px">
        <% unless dog.description.nil? or  dog.description == "" %>
          <span class="green-text">Motto:</span>
          <%= dog.motto %>
        <%end%>
      </div>
      <div class="description gray-text" style="font-size:14px">
        <% unless dog.description.nil? or  dog.description == "" %>
          <span class="green-text">Description:</span>
          <%= dog.description %>
        <%end%>
      </div>
      <div class="description gray-text" style="font-size:14px">
        <% unless dog.description.nil? or  dog.description == "" %>
          <span class="green-text">Availability:</span>
          <%= dog.availability %>
        <%end%>
      </div>
    </div>
  </div>
</div>
