<div class="five wide column">
  <div class="ui fluid card">
    <div class="image">
      <%= image_tag @user.image %>
    </div>
    <div class="content">
      <h3 class="no-margin"><%= @user.first_name + " " + @user.last_name %></h3>
  
      <% if @user.description and @user.description.length > 0 %>
        <div class="description">
          <%= @user.description %>
        </div>
      <% end %>
    </div>
    <div class="extra content">
      <i class="heart icon"></i><%=@user.dogs.count %> Dogs
    </div>
    <% if @own_profile  %>
      <%= link_to "Edit Profile", edit_user_path(@user.id), :id => "edit_user_button", :class => "ui secondary button my-green", :method => :get %>
    <% end %>
  </div>
</div>