<% if current_user.errors.any? %>
  <div class="ui warning message"><i class="warning icon"></i>
    <% current_user.errors.messages.each do |msg| %>
      <%= msg[1][0] %>
      <br>
    <% end %>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="ui warning message"><i class="warning icon"></i><%= flash[:notice] %></div>
<% end %>
<h2>Edit Your Profile</h2>
<div class="float right"><%= button_to "Delete User", user_path(@current_user.uid), :id => "delete_user_button", :class => "ui button red transparent input", :method => :delete %></div>
    <div class="field">
      <div id="picture" class="ui medium centered image"><img src=<%="#{current_user.image}"%>></div>
    </div>

 <div class="field">
      <label>Name</label>
      
 </div>

<div class="ui primary button transparent input"><input id='update_user_button' type="submit" value="Save Changes" name="update_user_button" class='btn info'  style="text-align:center"/></div>


<%= button_to "Cancel Changes", user_path(@current_user.id), :id => "cancel_user_button", :class => "ui button transparent input", :method => :get %>

