  <div class="ui one column grid">
  <%= render :partial => "users/user", :user => @user %>

   <div class="eleven wide column">
    <!--<button class="ui button">-->
    <div class="ui segment">
      <h2><%= @user.first_name %>'s Dogs
      <% if @own_profile %>
      <%= link_to "Add Dog", new_dog_path(), :id => "add_dog_button", :class => "ui secondary button right floated", :method => :get %>
      <% end %>
      </h2>

      <!-- USERS DOGS ------------------------------------------------------------->  
        <%= render :partial => "dog", :collection => @user.dogs %>
      <!--END OF USERS DOGS------------------------------>
  
      </div>
      <div class="ui segment">
      <h2><%= @user.first_name %>'s Starred Dogs</h2>
     
      <!--STARRED DOGS-->
      <% if not @staredDogs.nil? %>
      <%= render :partial => "dog", :collection => @staredDogs %>
      <% else %>
      No starred dogs.
      <%end%>
      <!--END OF STARRED DOGS   -->
      
      </div>
      </div>
      </div>

