  <div class="ui one column grid">
  <div class="five wide column">
    <!--
    <div class="ui segment">
      <div id="name">
        <%= image_tag @user.image, :class => "ui middle aligned small image", :id => "ui-segment" %>
        <h2><%= @user.first_name + " " + @user.last_name%></h2>
      </div>
    </div>
-->
  <div class="ui fluid card">
  <div class="image">
  <%= image_tag @user.image %>
  </div>
  <div class="content">
  <a class="header"><%= @user.first_name + " " + @user.last_name %></a>
  <div class="meta">
  <span class="date">Joined in 2013</span>
  </div>
  <div class="description">
  <!-- link to @user.description -->
  <%= @user.description %>
  </div>
  <% if @user.gender != nil && @user.gender != ""%>
  <div id="gender"><strong>Gender:</strong>&nbsp;&nbsp;<%= @user.gender %></div>
  <%end%>

    <% if current_user %>
    <% if @user.address != nil && @user.address != ""%>
    <div id="location"><strong>Location:</strong>&nbsp;&nbsp;<%= "#{@user.address}, #{@user.city}, #{@user.zipcode}, #{@user.country}" %></div>
    <%end%>
    <%else%>
    <% if @user.address != nil && @user.address != ""%>
    <div id="location"><strong>Location:</strong>&nbsp;&nbsp;You must <%= link_to "log in", "/auth/facebook/?type=login", id: 'log_in' %> to view!</div>
    <%end%>
    <%end%>

    <% if not @user.zipcode.nil? and not @user.zipcode == ""  %>
    <div id="zipcode"><strong>Zipcode:</strong>&nbsp;&nbsp;<%= @user.zipcode %></div>
    <%end%>
    </div>
    <div class="extra content">
    <a> <i class="heart icon"></i>4 Dogs</a>
    <a><i class="calendar icon"></i>5 events</a>
    <a><i class="star icon"></i>Premium User</a>
    </div>
    <% if @own_profile %>
    <%= link_to "Edit Profile", edit_user_path(@user.id), :id => "edit_user_button", :class => "ui secondary button", :method => :get %>
    <% end %>
    </div>
   </div>

   <div class="eleven wide column">
    <!--<button class="ui button">-->
    <div class="ui segment">
      <h2><%= @user.first_name %>'s Dogs
      <% if @own_profile %>
      <%= link_to "Add Dog", new_dog_path(), :id => "add_dog_button", :class => "ui secondary button right floated", :method => :get %>
      <% end %>
      </h2>

      <div class="ui divider"></div>
      <div id="dogs" class="ui relaxed divided list">
      <!-- USERS DOGS ------------------------------------------------------------->  
        <%= render :partial => "dog", :collection => @user.dogs %>
      <!--END OF USERS DOGS------------------------------>
      </div>
      </div>
      <div class="ui segment">
      <h2><%= @user.first_name %>'s Starred Dogs</h2>
      <div class="ui divider"></div>
      <div id="dogs" class="ui relaxed divided list">
        
   <!--STARRED DOGS-->
    <% if not @staredDogs.nil? %>
    <%= render :partial => "dog", :collection => @staredDogs %>
    <% else %>
    No starred dogs.
    <%end%>
<!--END OF STARRED DOGS   -->
    </div>
    </div>
    
    </div>
  </div>

