<div class="ui one column grid">
  <div class="five wide column">
    <!--
    <div class="ui segment">
      <div id="name">
        <%= image_tag @user.image, :class => "ui middle aligned small image", :id => "ui-segment" %>
        <h2><%= @user.first_name + " " + @user.last_name%></h2>
      </div>
    </div>
-->
<div class="ui fluid card">
  <div class="image">
    <%= image_tag @user.image %>
  </div>
  <div class="content">
    <a class="header"><%= @user.first_name + " " + @user.last_name %></a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      <!-- link to @user.description -->
      <%= @user.first_name %> likes to drink coffee.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="heart icon"></i>
      <%= @user.dogs.count %> Dogs
    </a>
    <a>
      <i class="calendar icon"></i>
      5 events
    </a>
    <a>
      <i class="star icon"></i>
      Premium User
    </a>
  </div>
</div>
  </div>
  
  <div class="eleven wide column">
    <div class="ui segment">
    <h2>Here's the Feed!</h2>

      <%= render :partial => "users/dog", :collection => @staredDogs %>
      <%= render :partial => "users/dog", :collection => @user.dogs %>
    
    </div>
  </div>
</div>

    
    
