<% if flash[:notice] %>
  <div class="ui warning message"><i class="warning icon"></i>
    <%= flash[:notice] %>
      <br>
  </div>
<% end %>

<style type="text/css">
  #calendar
  {
  width: 900px;
  margin: 0 auto;
  }
</style>

<div id='calendar'></div>

<p> </p>
<p></p>

<% if current_user.future_events? %>
  <div id = "dogevents"><h3>Upcoming Events:</h3>
 <div class = "large-12 columns">
   
  <% for @dog in @dogs do %>
    <% if @dog.future_events? %>
     <div class="row">
          <h3 class = "ui green ribbon label"> <%=link_to @dog.name, dog_path(@dog.id) %> </h3>
           <div class="ui bottom"> 
           <%= link_to (image_tag @dog.image, :class => "ui small circular image") , dog_path(@dog.id) %>
      <!--EVENTS LISTING      -->
           <!-- THIS IS THE EVENTS LISTING -->
      <div class="ui secondary top attached segment">
        <strong><%= @dog.name%>'s Events:</strong>
      </div>
    <div class="ui bottom attached segment">
        <% if @dog.future_events? == false || @dog.events.count == 0 %>
          <h1> No Upcoming Events </h1>
        <% end %>
        <% @dog.future_events.each do |event| %>
        <div class="ui vertical segment">
          <div class="large-9 columns">

            <strong>  
              <% if event.start_date == event.end_date %>
                <%= event.start_date.strftime('%v') %>
              <% else %>
                <%= event.start_date.strftime('%v') %> to <%= event.end_date.strftime('%v') %>
              <% end %>
            </strong>
          </div>
          
          <div class="large-12 columns content">
              <strong>Time:</strong> <%= event.time_of_day.join(", ") %><br>
              <strong>Location:</strong> <%= event.my_location %><br>
              <% if event.description != "" %>
                <strong>Description:</strong> <%= event.description %>
              <% end %>
          </div>
            
          <div class="large-3 columns">
            <% if not @current_user.nil? and @current_user.id == @dog.user_id %>
             <%= link_to "Edit Event", edit_event_path(event.id), :id => "edit_event_button", :class => "ui button", :method => :get %> 
            <% end %>
          </div>
 <!--BOOK EVENT          -->
            <% if not current_user.nil? %>
              <%if current_user.id != @dog.user_id %>
              <div class="booking"><label for="book_<%=event.id%>" ></label>
              <%- unless current_user.booking_events.exists?(id: event.id) -%>
              <%= link_to booking_events_path(event_id: event), method: :post, id: "book_#{event.id}", :class => "ui button" do%>
              Book
              <%end%>
              <% else %>
              <% if  event.confirmed_user_id.nil?  %>
              <%= link_to booking_events_path(event_id: event, user_id: current_user), method: :delete, id: "unbook_#{event.id}", :class => "ui button"  do%>
              Unbook
              <%end%>
              <%end%>
             <% end %>
             <%end%>

            <div>
             <% if not event.confirmed_user_id.nil?   and event.confirmed_user_id.to_i == current_user.id%>
              <div class= "ui positive button"><label>Confirmed</label></div>
              <div> 
              <% if not @parent.phone_number.nil? %><%=@parent.first_name %>'2 phone number: 
              <%= link_to @parent.phone_number, user_path(@parent.id)%> 
              <% end %>
              </div>
              <% end %>
              </div>
          
           
            <% end %>
            <%end%>
<!--END BOOK EVENT          -->
    </div>
    <% end %>
    </div>
   </div>
  <!-- END OF EVENTS LISTING -->
  

    
    <!--END OF EVENTS LISTING-->
    <%end%>
    <%end%>
  </div>
</div>

<% else %>
<div id="dogevents"><h3>No upcoming events</h3></div>
<%end%>









