<div class="ui large top menu fixed" id="my-menu">
  <h2 class="item logo-font"><%= link_to 'City Dog Share', home_path %></h2>
  <div class="right menu" style="margin-right: 0px">
  <div class="ui item right_item explore-link"><%= link_to 'Explore', dogs_path, :id => "To All Dogs" %></div>
  
    <% if current_user %>
      <div class="ui dropdown item right_item">
        <a class="name-text"><%= current_user.first_name + " " + current_user.last_name %></a>
        <%= image_tag current_user.image, class: "menu-pic" %>
        <div class="menu">
          <div class="item menu_item"><%= link_to "My Profile", user_path(current_user), class: "item"%></div>
          <div class="item menu_item"><%= link_to "Log Out", '/logout', class: "item"%></div>
        </div>
      </div>    
    <% else %>
      <%= link_to "FACEBOOK LOGIN", "/auth/facebook", id: "log_in", class: "item login" %>
    <% end %>
  </div>
</div>